body{
    background-color: #FFFFF0;
    margin-top: .5em;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav{
    background-color: lightblue; 
    width: 100%;    
    height:100%;
    float:left;
    overflow: hidden;
    position: relative;
}
nav a {
    text-align: center; 
    padding: 16px; 
    font-size: 20px;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    height: 5em;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.container{
    display: flex;
    height: 50em;
    align-items: center;
}
.inst-container{
    margin-left:5em;
    margin-right:5em;
    display: flex;
    height: auto;
    align-items: center;
    margin-bottom: 5em;
    flex-wrap: wrap;
    font-size: 2em;
    font-family: "consolas", sans-serif;
    Border-style: solid;
    border-width: 5px; 
    border-radius: 10px;
    border-color: lightblue;
    padding: 5em;
    background-color: white;
    line-height: 1.5em;
}
.num-container{ 
    display: flex;
    align-items: left;
    margin-left: -3em;
    font-family: "consolas", sans-serif;    
    font-weight: bold;
    font-size: 1em;
    position:relative;
}
.sup{
    position: relative;
    margin-left: 105em;
    color: gray;
    font-size: 55%;
    line-height: 10em;
    margin-bottom:0;
}
.small-container{
    margin-right:1em;
    margin-left:1em;
    font-family: "consolas", sans-serif;
    font-size: .8em;
    position: relative;
    line-height: 1.5em;
    margin-bottom:0;
}
h1{
    font-family: "consolas", sans-serif;
    font-weight: bold;
    font-size: 3.5em;
    text-align: center;
    margin: 2em auto;
}
h2 {
    font-family: "consolas", sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 2em;
    line-height: 2em;
}
#rig_pic{
    Border-style: solid;
    border-width: 5px; 
    border-color: lightblue;
    border-radius: 10px; 
    width: 30%;
    height: 35%;
    margin-left: 42em;
    margin-top: .5em;
    margin-bottom: 1em;
}
#first_source{
    margin-left: 1em;
    position: relative;
    font-size:.6em;
    text-align: center;
    margin-top:0;
    margin-bottom: 10%;
}
#me{ 
    Border-style: solid;
    border-width: 5px; 
    border-color: lightblue;
    border-radius: 10px; 
    padding: 0px;
    width: 40em;
    height: 40em;
    margin-left: 40em;
    margin-top: 5em;
    position: relative;

}
.part_pic_container{
    Border-style: solid;
    border-width: 5px; 
    border-color: lightblue;
    border-radius: 10px; 
    width: 40%;
    height: 25em;
    margin-top: 2em;
    margin-left: 5em;
    margin-bottom: .5em;
    margin-right: -2em;
}
.part_text-container{
    margin-left: 4em;
    font-size: 1.36em;
    font-family: "consolas", sans-serif;
    Border-style: solid;
    border-width: 5px; 
    border-radius: 10px;
    border-color: lightblue;
    padding: 5.2em;
    background-color: white;
    margin-right: 5em;
    line-height: 1.5em;
    height: 8em;
    margin-top: 1em;
}
#pic_placement_1{
    Border-style: solid;
    border-width: 5px; 
    border-color: lightblue;
    border-radius: 10px; 
    width: 20em;
    height: 15em;
    margin-top: 2em;
    position: relative;
}
#pic_placement_2{
    Border-style: solid;
    border-width: 5px; 
    border-color: lightblue;
    border-radius: 10px; 
    width: 20em;
    height: 15em;
    margin-left: 2em;
    margin-bottom:0;
}
#pic_placement_3{
    Border-style: solid;
    border-width: 5px; 
    border-color: lightblue;
    border-radius: 10px; 
    width: 20em;
    height: 15em;
    margin-left: 12em;
    margin-top: 2em;
}
#pictures_src{
    margin-left: 37em;
    position: relative;
    font-size:10px;
    margin-bottom: 1em;
}
#parts_img_src{
    margin-left: 10em;
    position: relative;
    font-size:10px;
    margin-top:-15em;
    margin-bottom: 1em;
}

/*@media only screen and (max-width: 768px) 
    